In [4]:
## Import libraries
import pandas as pd
from datetime import datetime

In [5]:
## Open data
df = pd.read_csv("Affordable_Housing_Production_by_Project.csv")
df

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Extended Affordability Only,Prevailing Wage Status,Planned Tax Benefit,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,Senior Units
0,44218,MEC E. 125TH ST. PARCEL B WEST,Multifamily Finance Program,12/31/2018,02/16/2022,No,Non Prevailing Wage,Article XI,0,101,101,0,93,2,297,0,297,404,0
1,44223,ROCHESTER SUYDAM PHASE 1,Multifamily Finance Program,06/30/2021,NaN,No,Non Prevailing Wage,Article XI,0,0,0,39,7,0,0,46,46,46,0
2,44225,Brook Avenue Apartments,Multifamily Finance Program,06/27/2014,12/28/2016,No,Non Prevailing Wage,421a,0,14,51,0,0,1,66,0,66,66,0
3,44230,Mermaid / West. 16th Street,Small Homes Program,06/30/2015,07/21/2017,No,Non Prevailing Wage,UDAAP,0,0,0,16,5,0,14,7,21,21,0
4,44239,Home for Harlem Dowling,Multifamily Finance Program,06/30/2014,12/29/2016,No,Non Prevailing Wage,420c,12,0,47,0,0,1,60,0,60,60,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3628,73331,CONFIDENTIAL,Homeowner Assistance Program,11/30/2022,NaN,No,Non Prevailing Wage,NaN,0,0,1,0,0,0,0,1,1,1,1
3629,73333,CONFIDENTIAL,Homeowner Assistance Program,11/29/2022,NaN,No,Non Prevailing Wage,NaN,0,0,0,2,0,0,0,2,2,2,0
3630,73334,KENT VILLAGE,Multifamily Finance Program,12/19/2022,NaN,No,Non Prevailing Wage,NaN,0,498,34,0,0,2,531,3,534,534,0
3631,73336,CONFIDENTIAL,Homeowner Assistance Program,12/27/2022,NaN,No,Non Prevailing Wage,NaN,2,0,0,0,0,0,0,2,2,2,0
3632,73337,CONFIDENTIAL,Homeowner Assistance Program,12/28/2022,NaN,No,Non Prevailing Wage,NaN,0,1,0,0,0,0,0,1,1,1,0

In [6]:
df.columns

Index(['Project ID', 'Project Name', 'Program Group', 'Project Start Date',
       'Project Completion Date', 'Extended Affordability Only',
       'Prevailing Wage Status', 'Planned Tax Benefit',
       'Extremely Low Income Units', 'Very Low Income Units',
       'Low Income Units', 'Moderate Income Units', 'Middle Income Units',
       'Other Income Units', 'Counted Rental Units',
       'Counted Homeownership Units', 'All Counted Units', 'Total Units',
       'Senior Units'],
      dtype='object')

In [7]:
## FÃ³rmula para excluÃ­r el Homeownership program del Dataset

df2 = df.query("`Program Group`!='Homeowner Assistance Program'").copy()
df2

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Extended Affordability Only,Prevailing Wage Status,Planned Tax Benefit,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,Senior Units
0,44218,MEC E. 125TH ST. PARCEL B WEST,Multifamily Finance Program,12/31/2018,02/16/2022,No,Non Prevailing Wage,Article XI,0,101,101,0,93,2,297,0,297,404,0
1,44223,ROCHESTER SUYDAM PHASE 1,Multifamily Finance Program,06/30/2021,NaN,No,Non Prevailing Wage,Article XI,0,0,0,39,7,0,0,46,46,46,0
2,44225,Brook Avenue Apartments,Multifamily Finance Program,06/27/2014,12/28/2016,No,Non Prevailing Wage,421a,0,14,51,0,0,1,66,0,66,66,0
3,44230,Mermaid / West. 16th Street,Small Homes Program,06/30/2015,07/21/2017,No,Non Prevailing Wage,UDAAP,0,0,0,16,5,0,14,7,21,21,0
4,44239,Home for Harlem Dowling,Multifamily Finance Program,06/30/2014,12/29/2016,No,Non Prevailing Wage,420c,12,0,47,0,0,1,60,0,60,60,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3622,73323,130 HOPE STREET,Multifamily Incentives Program,12/27/2022,NaN,No,Non Prevailing Wage,421a,0,0,0,0,43,0,43,0,43,143,0
3623,73324,659 EAST 222 STREET,Multifamily Incentives Program,12/28/2022,NaN,No,Non Prevailing Wage,421a,0,0,0,0,3,0,3,0,3,10,0
3624,73325,61 CLARKSON AVE,Multifamily Incentives Program,12/29/2022,NaN,No,Non Prevailing Wage,421a,0,0,0,0,4,0,4,0,4,11,0
3625,73326,2316 CLARENDON ROAD,Multifamily Incentives Program,12/30/2022,NaN,No,Non Prevailing Wage,421a,0,0,0,0,5,0,5,0,5,15,0
3630,73334,KENT VILLAGE,Multifamily Finance Program,12/19/2022,NaN,No,Non Prevailing Wage,NaN,0,498,34,0,0,2,531,3,534,534,0

In [8]:
## split columns y crear columna de aÃ±o de finalizaciÃ³n del proyecto
df2["Completion Year"]=df2["Project Completion Date"].str.split("/", expand = True)[2]
df2

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Extended Affordability Only,Prevailing Wage Status,Planned Tax Benefit,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,Senior Units,Completion Year
0,44218,MEC E. 125TH ST. PARCEL B WEST,Multifamily Finance Program,12/31/2018,02/16/2022,No,Non Prevailing Wage,Article XI,0,101,101,0,93,2,297,0,297,404,0,2022
1,44223,ROCHESTER SUYDAM PHASE 1,Multifamily Finance Program,06/30/2021,NaN,No,Non Prevailing Wage,Article XI,0,0,0,39,7,0,0,46,46,46,0,NaN
2,44225,Brook Avenue Apartments,Multifamily Finance Program,06/27/2014,12/28/2016,No,Non Prevailing Wage,421a,0,14,51,0,0,1,66,0,66,66,0,2016
3,44230,Mermaid / West. 16th Street,Small Homes Program,06/30/2015,07/21/2017,No,Non Prevailing Wage,UDAAP,0,0,0,16,5,0,14,7,21,21,0,2017
4,44239,Home for Harlem Dowling,Multifamily Finance Program,06/30/2014,12/29/2016,No,Non Prevailing Wage,420c,12,0,47,0,0,1,60,0,60,60,0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3622,73323,130 HOPE STREET,Multifamily Incentives Program,12/27/2022,NaN,No,Non Prevailing Wage,421a,0,0,0,0,43,0,43,0,43,143,0,NaN
3623,73324,659 EAST 222 STREET,Multifamily Incentives Program,12/28/2022,NaN,No,Non Prevailing Wage,421a,0,0,0,0,3,0,3,0,3,10,0,NaN
3624,73325,61 CLARKSON AVE,Multifamily Incentives Program,12/29/2022,NaN,No,Non Prevailing Wage,421a,0,0,0,0,4,0,4,0,4,11,0,NaN
3625,73326,2316 CLARENDON ROAD,Multifamily Incentives Program,12/30/2022,NaN,No,Non Prevailing Wage,421a,0,0,0,0,5,0,5,0,5,15,0,NaN
3630,73334,KENT VILLAGE,Multifamily Finance Program,12/19/2022,NaN,No,Non Prevailing Wage,NaN,0,498,34,0,0,2,531,3,534,534,0,NaN

In [9]:
##Convertir columnas de inicio y final de proyecto a formato de fecha.
df2["Project Start Date"] = pd.to_datetime(df2["Project Start Date"],format = "%m/%d/%Y")
df2["Project Completion Date"] = pd.to_datetime(df2["Project Completion Date"],format = "%m/%d/%Y")
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2330 entries, 0 to 3630
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Project ID                   2330 non-null   int64
 1   Project Name                 2330 non-null   object
 2   Program Group                2330 non-null   object
 3   Project Start Date           2330 non-null   datetime64[ns]
 4   Project Completion Date      1457 non-null   datetime64[ns]
 5   Extended Affordability Only  2330 non-null   object
 6   Prevailing Wage Status       2330 non-null   object
 7   Planned Tax Benefit          2204 non-null   object
 8   Extremely Low Income Units   2330 non-null   int64
 9   Very Low Income Units        2330 non-null   int64
 10  Low Income Units             2330 non-null   int64
 11  Moderate Income Units        2330 non-null   int64
 12  Middle Income Units          2330 non-null   int64
 13  Other Income Units           2330 non-null   int64
 14  Counted Rental Units         2330 non-null   int64
 15  Counted Homeownership Units  2330 non-null   int64
 16  All Counted Units            2330 non-null   int64
 17  Total Units                  2330 non-null   int64
 18  Senior Units                 2330 non-null   int64
 19  Completion Year              1457 non-null   object
dtypes: datetime64[ns](2), int64(12), object(6)
memory usage: 382.3+ KB

In [10]:
##Filtrado de dataset por seniors. Hasta aquÃ­ se tienen filtos por seniors y sin el homeownership
dfsenior = df2.query("`Senior Units` > 0").copy()
dfsenior

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Extended Affordability Only,Prevailing Wage Status,Planned Tax Benefit,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,Senior Units,Completion Year
16,44333,HIGHBRIDGE CDC. 1448 PLIMPTON AVE. ARTSBRIDGE,Multifamily Finance Program,2014-08-21,2017-10-27,No,Prevailing Wage,Article XI,61,0,0,0,0,1,62,0,62,62,61,2017
26,44602,CYPRESS. 137 JAMAICA AVENUE,Multifamily Finance Program,2015-10-29,2018-01-02,No,Prevailing Wage,NaN,53,0,0,0,0,1,54,0,54,54,53,2018
47,48646,SKA MARIN. 1918 FIRST AVE. DRAPER HALL,Multifamily Finance Program,2014-12-24,2017-11-28,No,Prevailing Wage,420c,202,0,0,0,0,1,203,0,203,203,202,2017
59,48768,URBAN HORIZONS HDFC.YR15.FY18,Multifamily Finance Program,2018-02-06,NaT,No,Non Prevailing Wage,420c,4,121,6,0,0,1,132,0,132,132,11,NaN
120,50282,Selfhelp. 6469 Broadway. Van Courtlandt Green,Multifamily Finance Program,2014-06-26,2016-04-20,No,Non Prevailing Wage,420c,0,8,77,0,0,1,86,0,86,86,85,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3004,71469,WESTCHESTER TRIANGLE.YR15.FY22,Multifamily Finance Program,2022-06-30,NaT,No,Non Prevailing Wage,420c,1,24,44,0,0,1,70,0,70,70,5,NaN
3006,71471,HP BRIARWOOD HDFC.HPO.FY23,Multifamily Finance Program,2022-12-23,2022-12-23,Yes,Non Prevailing Wage,Article XI,1,40,177,157,7,0,382,0,382,382,6,2022
3055,71703,FINCH GROUP. 4746-4750 WHITE PLAINS RD. WAKEFI...,Multifamily Finance Program,2022-12-23,NaT,No,Prevailing Wage,420c,72,0,0,0,0,1,73,0,73,73,72,NaN
3149,71949,772 E 168TH STREET.YR15.FY23,Multifamily Finance Program,2022-12-16,2022-12-16,Yes,Non Prevailing Wage,420c,53,6,0,0,0,1,60,0,60,60,5,2022
3150,71952,YORKVILLE GARDENS.HUDMF.FY23,Multifamily Finance Program,2022-12-15,NaT,Yes,Non Prevailing Wage,Article XI,128,2,1,0,0,1,132,0,132,132,11,NaN

In [11]:
## quÃ© porcentaje de las unidades terminadas fueron para seniors, por aÃ±o
dfanual = pd.DataFrame()
dfanual ["Senior Units"] = df2.groupby("Completion Year")["Senior Units"].agg("sum")
dfanual ["Total Units"] = df2.groupby("Completion Year")["Total Units"].agg("sum")
dfanual ["% Senior"] =  dfanual ["Senior Units"] / dfanual ["Total Units"] * 100
dfanual

                 Senior Units  Total Units   % Senior
Completion Year
2014                      578         4545  12.717272
2015                       65         7425   0.875421
2016                      728        15475   4.704362
2017                     1360        27050   5.027726
2018                     1163        34001   3.420488
2019                     1306        29268   4.462211
2020                      869        15705   5.533270
2021                     1707        19110   8.932496
2022                      640        11050   5.791855
2023                       77           78  98.717949

In [12]:
## Unidades totales senior en construcciÃ³n, excluyendo homeownership program
seniorunitssinterminar = dfsenior.query("`Project Completion Date`== 'NaT'")["Senior Units"].agg(sum)
seniorunitssinterminar

5745

In [13]:
##Unidades totales sin terminar, excluyendo homeownership program
totalunitssinterminar = df2.query("`Project Completion Date`== 'NaT'")["Total Units"].agg("sum")
totalunitssinterminar

127377

In [14]:
## porcentaje de unidades senior sin terminar sobre el total de unidades sin terminar
##(4.5 por ciento de las unidades sin terminar son para seniors)
seniorunitssinterminar / totalunitssinterminar *100

4.510233401634518

In [15]:
## quÃ© porcentaje de las proyectos terminados tienen unidades para seniors, por aÃ±o
dfproject = pd.DataFrame()
dfproject ["Senior Projects"] = dfsenior.groupby("Completion Year")["Senior Units"].agg("count")
dfproject ["Total Projects"] = df2.groupby("Completion Year")["Total Units"].agg("count")
dfproject ["% Senior"] =  dfproject ["Senior Projects"] / dfproject ["Total Projects"] * 100
dfproject

                 Senior Projects  Total Projects    % Senior
Completion Year
2014                           4              32   12.500000
2015                           2              26    7.692308
2016                           8              84    9.523810
2017                          14             171    8.187135
2018                          11             214    5.140187
2019                          15             325    4.615385
2020                          13             207    6.280193
2021                          24             242    9.917355
2022                          16             155   10.322581
2023                           1               1  100.000000

In [16]:
## total de projectos con unidades senior sin terminar
seniorprojectssinterminar = dfsenior.query("`Project Completion Date`== 'NaT'")["Senior Units"].agg("count")
seniorprojectssinterminar

109

In [17]:
##Total de proyecctos sin terminar
totalprojectssinterminar = df2.query("`Project Completion Date`== 'NaT'")["Total Units"].agg("count")
totalprojectssinterminar

873

In [18]:
## Porcentaje de proyectos con unidades senior sin terminar sobre total de proyecctos sin terminar
seniorprojectssinterminar / totalprojectssinterminar *100

12.485681557846506

In [19]:
##Duracion
dfsenior["Duracion del proyecto"] = (dfsenior["Project Completion Date"] - dfsenior["Project Start Date"]).dt.days
dfsenior

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Extended Affordability Only,Prevailing Wage Status,Planned Tax Benefit,Extremely Low Income Units,Very Low Income Units,...,Moderate Income Units,Middle Income Units,Other Income Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,Senior Units,Completion Year,Duracion del proyecto
16,44333,HIGHBRIDGE CDC. 1448 PLIMPTON AVE. ARTSBRIDGE,Multifamily Finance Program,2014-08-21,2017-10-27,No,Prevailing Wage,Article XI,61,0,...,0,0,1,62,0,62,62,61,2017,1163.0
26,44602,CYPRESS. 137 JAMAICA AVENUE,Multifamily Finance Program,2015-10-29,2018-01-02,No,Prevailing Wage,NaN,53,0,...,0,0,1,54,0,54,54,53,2018,796.0
47,48646,SKA MARIN. 1918 FIRST AVE. DRAPER HALL,Multifamily Finance Program,2014-12-24,2017-11-28,No,Prevailing Wage,420c,202,0,...,0,0,1,203,0,203,203,202,2017,1070.0
59,48768,URBAN HORIZONS HDFC.YR15.FY18,Multifamily Finance Program,2018-02-06,NaT,No,Non Prevailing Wage,420c,4,121,...,0,0,1,132,0,132,132,11,NaN,NaN
120,50282,Selfhelp. 6469 Broadway. Van Courtlandt Green,Multifamily Finance Program,2014-06-26,2016-04-20,No,Non Prevailing Wage,420c,0,8,...,0,0,1,86,0,86,86,85,2016,664.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3004,71469,WESTCHESTER TRIANGLE.YR15.FY22,Multifamily Finance Program,2022-06-30,NaT,No,Non Prevailing Wage,420c,1,24,...,0,0,1,70,0,70,70,5,NaN,NaN
3006,71471,HP BRIARWOOD HDFC.HPO.FY23,Multifamily Finance Program,2022-12-23,2022-12-23,Yes,Non Prevailing Wage,Article XI,1,40,...,157,7,0,382,0,382,382,6,2022,0.0
3055,71703,FINCH GROUP. 4746-4750 WHITE PLAINS RD. WAKEFI...,Multifamily Finance Program,2022-12-23,NaT,No,Prevailing Wage,420c,72,0,...,0,0,1,73,0,73,73,72,NaN,NaN
3149,71949,772 E 168TH STREET.YR15.FY23,Multifamily Finance Program,2022-12-16,2022-12-16,Yes,Non Prevailing Wage,420c,53,6,...,0,0,1,60,0,60,60,5,2022,0.0
3150,71952,YORKVILLE GARDENS.HUDMF.FY23,Multifamily Finance Program,2022-12-15,NaT,Yes,Non Prevailing Wage,Article XI,128,2,...,0,0,1,132,0,132,132,11,NaN,NaN

In [20]:
dfsenior.sort_values("Duracion del proyecto", ascending = False)

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Extended Affordability Only,Prevailing Wage Status,Planned Tax Benefit,Extremely Low Income Units,Very Low Income Units,...,Moderate Income Units,Middle Income Units,Other Income Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,Senior Units,Completion Year,Duracion del proyecto
758,58492,333 Lenox Rd (20136053),Multifamily Incentives Program,2014-12-24,2019-06-27,No,Non Prevailing Wage,420c,8,12,...,0,0,1,58,0,58,58,57,2019,1646.0
784,58625,ONE FLUSHING,Multifamily Finance Program,2016-12-29,2020-03-25,No,Non Prevailing Wage,Article XI,0,66,...,60,0,1,232,0,232,232,66,2020,1182.0
1485,65391,COOPER SQUARE SENIOR HDFC.HUDMF.FY19,Multifamily Finance Program,2019-02-14,2022-04-26,No,Non Prevailing Wage,Article XI,145,4,...,0,0,1,151,0,151,151,120,2022,1167.0
16,44333,HIGHBRIDGE CDC. 1448 PLIMPTON AVE. ARTSBRIDGE,Multifamily Finance Program,2014-08-21,2017-10-27,No,Prevailing Wage,Article XI,61,0,...,0,0,1,62,0,62,62,61,2017,1163.0
308,52937,Arker.34-11 Beach Channel Drive,Multifamily Finance Program,2015-06-25,2018-08-20,No,Prevailing Wage,420c,153,0,...,0,0,1,154,0,154,154,153,2018,1152.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2846,71021,1018 EAST 163RD ST,Multifamily Finance Program,2021-12-23,NaT,No,Non Prevailing Wage,Article XI,61,17,...,0,0,1,97,0,97,97,30,NaN,NaN
2992,71445,HOUSING PLUS. 797 GLENMORE AVE. SHEPHERD-GLENMORE,Multifamily Finance Program,2022-10-19,NaT,No,Non Prevailing Wage,420c,95,10,...,0,0,1,123,0,123,123,8,NaN,NaN
3004,71469,WESTCHESTER TRIANGLE.YR15.FY22,Multifamily Finance Program,2022-06-30,NaT,No,Non Prevailing Wage,420c,1,24,...,0,0,1,70,0,70,70,5,NaN,NaN
3055,71703,FINCH GROUP. 4746-4750 WHITE PLAINS RD. WAKEFI...,Multifamily Finance Program,2022-12-23,NaT,No,Prevailing Wage,420c,72,0,...,0,0,1,73,0,73,73,72,NaN,NaN
3150,71952,YORKVILLE GARDENS.HUDMF.FY23,Multifamily Finance Program,2022-12-15,NaT,Yes,Non Prevailing Wage,Article XI,128,2,...,0,0,1,132,0,132,132,11,NaN,NaN

In [21]:
dfsenior.describe()["Duracion del proyecto"]

count     108.000000
mean      535.370370
std       442.891679
min         0.000000
25%         0.000000
50%       678.000000
75%       901.250000
max      1646.000000
Name: Duracion del proyecto, dtype: float64

In [22]:
dfsenior_ceroduracion= dfsenior.query ("`Duracion del proyecto` == 0").copy()
dfsenior_ceroduracion

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Extended Affordability Only,Prevailing Wage Status,Planned Tax Benefit,Extremely Low Income Units,Very Low Income Units,...,Moderate Income Units,Middle Income Units,Other Income Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,Senior Units,Completion Year,Duracion del proyecto
137,50388,TWEEMILL HOUSE HDFC,Multifamily Incentives Program,2015-06-29,2015-06-29,Yes,Non Prevailing Wage,Article XI,0,40,...,0,0,0,40,0,40,40,40,2015,0.0
138,50390,St Barnabas Housing For The Elderly,Multifamily Incentives Program,2014-06-24,2014-06-24,Yes,Non Prevailing Wage,Article XI,0,0,...,0,0,1,91,0,91,91,91,2014,0.0
235,52182,DANIEL GILMARTIN HDFC,Multifamily Incentives Program,2014-06-27,2014-06-27,Yes,Non Prevailing Wage,Article XI,0,151,...,0,0,0,151,0,151,151,150,2014,0.0
246,52319,Chinatown Planning Council HDFC,Multifamily Incentives Program,2014-06-30,2014-06-30,Yes,Non Prevailing Wage,Article XI,0,155,...,0,0,0,155,0,155,155,155,2014,0.0
377,53553,Pio Mendez / VIP,Multifamily Incentives Program,2014-12-30,2014-12-30,Yes,Non Prevailing Wage,Article XI,0,182,...,0,0,0,182,0,182,182,182,2014,0.0
511,55343,ACRMD LUBIN,Multifamily Incentives Program,2015-04-23,2015-04-23,Yes,Non Prevailing Wage,Article XI,0,25,...,0,0,0,25,0,25,25,25,2015,0.0
874,59382,AHI EZER APARTMENTS,Multifamily Incentives Program,2017-06-05,2017-06-05,Yes,Non Prevailing Wage,Article XI,0,0,...,0,0,1,74,0,74,74,22,2017,0.0
957,60426,MONTAUK HOUSING LLC.HUDMF.FY18,Multifamily Finance Program,2017-11-01,2017-11-01,Yes,Non Prevailing Wage,Article XI,128,0,...,0,0,1,129,0,129,129,128,2017,0.0
983,60761,Marseilles Apartments,Multifamily Finance Program,2016-02-25,2016-02-25,No,Non Prevailing Wage,NaN,0,134,...,0,0,1,135,0,135,135,134,2016,0.0
1271,64157,E.M. MOORE HOUSING FOR THE ELDERLY,Multifamily Incentives Program,2017-10-04,2017-10-04,Yes,Non Prevailing Wage,Article XI,0,0,...,0,0,1,89,0,89,89,88,2017,0.0
1321,64768,WATERSIDE PLAZA.HPO.FY20,Multifamily Finance Program,2019-10-25,2019-10-25,Yes,Non Prevailing Wage,UDAAP,4,0,...,103,220,0,329,0,329,1471,40,2019,0.0
1471,65349,BPR HDFC.HPO.FY19,Multifamily Finance Program,2019-06-28,2019-06-28,Yes,Non Prevailing Wage,Article XI,0,13,...,0,0,1,31,0,31,31,1,2019,0.0
1542,65856,WYATT TEE WALKER HOUSING FOR THE ELDERLY,Multifamily Incentives Program,2017-11-08,2017-11-08,Yes,Non Prevailing Wage,Article XI,0,24,...,0,0,1,80,0,80,80,79,2017,0.0
1596,66556,BEREAN HDFC.HUDMF.FY18,Multifamily Finance Program,2018-06-25,2018-06-25,Yes,Non Prevailing Wage,Article XI,67,8,...,0,0,1,77,0,77,77,77,2018,0.0
1599,66564,1314 SENECA HDFC.HPO.FY18,Multifamily Finance Program,2018-06-20,2018-06-20,Yes,Non Prevailing Wage,Article XI,2,3,...,12,0,1,60,0,60,60,13,2018,0.0
1860,67687,WEST FARMS PRESERVATION HDFC.HPO.FY19,Multifamily Finance Program,2018-12-20,2018-12-20,Yes,Non Prevailing Wage,Article XI,0,1,...,37,0,2,343,0,343,343,94,2018,0.0
1868,67730,HP HENRY HUDSON HDFC.HPO.FY19 (3420 HENRY HUDS...,Multifamily Finance Program,2019-03-27,2019-03-27,Yes,Non Prevailing Wage,Article XI,0,8,...,41,0,1,73,0,73,108,12,2019,0.0
2012,68177,CAPITOL APARTMENTS HDFC.HUDMF,Multifamily Finance Program,2019-06-28,2019-06-28,Yes,Non Prevailing Wage,Article XI,239,6,...,3,27,1,278,0,278,278,249,2019,0.0
2034,68267,SUNSET GARDENS HDFC.HUDMF,Multifamily Finance Program,2019-12-11,2019-12-11,Yes,Non Prevailing Wage,NaN,80,1,...,0,0,0,81,0,81,81,80,2019,0.0
2035,68268,HARBOR HILL HDFC,Multifamily Finance Program,2019-11-26,2019-11-26,Yes,Non Prevailing Wage,NaN,85,1,...,0,0,1,87,0,87,87,86,2019,0.0
2110,68526,PLAZA APARTMENTS,Multifamily Finance Program,2019-12-09,2019-12-09,Yes,Non Prevailing Wage,Article XI,58,8,...,3,0,1,76,0,76,76,16,2019,0.0
2251,68866,MAXWELL DEVELOPMENT LP.YR15.FY21,Multifamily Finance Program,2020-12-31,2020-12-31,Yes,Non Prevailing Wage,420c,52,125,...,1,0,5,200,0,200,200,21,2020,0.0
2253,68891,LITTLE ITALY RESTORATION APARTMENTS (L.I.R.A.),Multifamily Finance Program,2021-11-19,2021-11-19,Yes,Non Prevailing Wage,Article XI,128,11,...,2,0,3,152,0,152,152,10,2021,0.0
2360,69285,3800 PUTNAM AVENUE GARDENS HDFC.HPO.FY21,Multifamily Finance Program,2021-06-23,2021-06-23,Yes,Non Prevailing Wage,Article XI,0,0,...,0,0,0,44,0,44,44,1,2021,0.0
2363,69291,1700 HARRISON LLC.YR15.FY23,Multifamily Finance Program,2022-12-14,2022-12-14,No,Non Prevailing Wage,Article XI,0,45,...,0,0,1,79,0,79,79,6,2022,0.0
2436,69422,1730 HARRISON LLC.YR15.FY23,Multifamily Finance Program,2022-12-14,2022-12-14,No,Non Prevailing Wage,Article XI,0,54,...,0,0,1,77,0,77,77,2,2022,0.0
2439,69473,MANHATTAN AVE HDFC,Multifamily Finance Program,2021-05-10,2021-05-10,Yes,Non Prevailing Wage,Article XI,65,5,...,0,0,1,81,0,81,81,17,2021,0.0
2440,69479,SCHEUER HOUSE OF MANHATTAN BEACH,Multifamily Finance Program,2021-11-18,2021-11-18,No,Non Prevailing Wage,Article XI,144,2,...,1,0,1,150,0,150,150,26,2021,0.0
2607,70023,ALBANY KINGSTON HDFC,Multifamily Finance Program,2020-10-21,2020-10-21,Yes,Non Prevailing Wage,NaN,150,38,...,0,0,3,224,0,224,224,1,2020,0.0
2622,70054,1305 MORRIS AVENUE HDFC.YR15.FY23,Multifamily Finance Program,2022-12-22,2022-12-22,Yes,Non Prevailing Wage,420c,45,1,...,10,0,0,74,0,74,74,28,2022,0.0
2635,70165,BROOK AND BROWN HDFC,Multifamily Finance Program,2020-12-31,2020-12-31,No,Non Prevailing Wage,NaN,80,10,...,0,0,1,95,0,95,95,21,2020,0.0
2638,70188,CLAY AVENUE CLUSTER L.P.YR15.FY21,Multifamily Finance Program,2021-06-17,2021-06-17,Yes,Non Prevailing Wage,420c,6,52,...,1,0,2,86,0,86,86,3,2021,0.0
2759,70648,3300 PALMER AVE.HPO.FY23,Multifamily Finance Program,2022-09-29,2022-09-29,No,Non Prevailing Wage,Article XI,0,0,...,74,14,1,135,0,135,135,20,2022,0.0
2956,71208,TARGET V,Multifamily Finance Program,2021-11-19,2021-11-19,No,Non Prevailing Wage,420c,63,11,...,0,0,1,83,0,83,83,17,2021,0.0
3006,71471,HP BRIARWOOD HDFC.HPO.FY23,Multifamily Finance Program,2022-12-23,2022-12-23,Yes,Non Prevailing Wage,Article XI,1,40,...,157,7,0,382,0,382,382,6,2022,0.0
3149,71949,772 E 168TH STREET.YR15.FY23,Multifamily Finance Program,2022-12-16,2022-12-16,Yes,Non Prevailing Wage,420c,53,6,...,0,0,1,60,0,60,60,5,2022,0.0

In [23]:
dfsenior_conduracion= dfsenior.query ("`Duracion del proyecto` > 0").copy()
dfsenior_conduracion

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Extended Affordability Only,Prevailing Wage Status,Planned Tax Benefit,Extremely Low Income Units,Very Low Income Units,...,Moderate Income Units,Middle Income Units,Other Income Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,Senior Units,Completion Year,Duracion del proyecto
16,44333,HIGHBRIDGE CDC. 1448 PLIMPTON AVE. ARTSBRIDGE,Multifamily Finance Program,2014-08-21,2017-10-27,No,Prevailing Wage,Article XI,61,0,...,0,0,1,62,0,62,62,61,2017,1163.0
26,44602,CYPRESS. 137 JAMAICA AVENUE,Multifamily Finance Program,2015-10-29,2018-01-02,No,Prevailing Wage,NaN,53,0,...,0,0,1,54,0,54,54,53,2018,796.0
47,48646,SKA MARIN. 1918 FIRST AVE. DRAPER HALL,Multifamily Finance Program,2014-12-24,2017-11-28,No,Prevailing Wage,420c,202,0,...,0,0,1,203,0,203,203,202,2017,1070.0
120,50282,Selfhelp. 6469 Broadway. Van Courtlandt Green,Multifamily Finance Program,2014-06-26,2016-04-20,No,Non Prevailing Wage,420c,0,8,...,0,0,1,86,0,86,86,85,2016,664.0
155,50495,Calvary.112-02 Guy Brewer Boulevard,Multifamily Finance Program,2014-08-01,2016-06-15,No,Non Prevailing Wage,420c,8,0,...,0,0,1,53,0,53,53,52,2016,684.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2107,68496,FAIRSTEAD. 117 W 79 ST,Multifamily Finance Program,2020-10-16,2023-01-13,No,Prevailing Wage,420c,77,0,...,0,0,1,78,0,78,78,77,2023,819.0
2235,68783,123 WEST 183 HDFC,Multifamily Finance Program,2021-07-01,2022-05-31,Yes,Non Prevailing Wage,Article XI,100,4,...,0,0,1,105,0,105,105,104,2022,334.0
2361,69286,BELMONT DANIEL.HPO.FY20,Multifamily Finance Program,2020-07-02,2021-03-11,No,Non Prevailing Wage,Article XI,0,8,...,3,0,1,112,0,112,112,18,2021,252.0
2626,70077,THESSALONICA COURT APARTMENTS,Multifamily Finance Program,2020-12-22,2021-11-17,Yes,Non Prevailing Wage,NaN,158,22,...,0,0,1,191,0,191,191,20,2021,330.0
2962,71264,SEAVIEW ESTATES PRESERVATION HDFC.HPO.FY22,Multifamily Finance Program,2021-12-16,2022-12-16,No,Non Prevailing Wage,Article XI,1,2,...,103,0,1,316,0,316,316,38,2022,365.0

In [24]:
dfsenior_conduracion.describe()["Duracion del proyecto"]

count      72.000000
mean      803.055556
std       278.598550
min        59.000000
25%       681.000000
50%       823.500000
75%       984.250000
max      1646.000000
Name: Duracion del proyecto, dtype: float64

In [25]:
dfsenior_conduracion.groupby("Program Group")["Duracion del proyecto"].agg("mean")

Program Group
Multifamily Finance Program       785.909091
Multifamily Incentives Program    991.666667
Name: Duracion del proyecto, dtype: float64

In [26]:
dfsenior.groupby("Completion Year")["Duracion del proyecto"].agg("mean")

Completion Year
2014      0.000000
2015      0.000000
2016    432.875000
2017    561.214286
2018    628.727273
2019    469.666667
2020    720.846154
2021    619.916667
2022    466.937500
2023    819.000000
Name: Duracion del proyecto, dtype: float64

In [27]:
dfsenior.query("`Duracion del proyecto` == 0")

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Extended Affordability Only,Prevailing Wage Status,Planned Tax Benefit,Extremely Low Income Units,Very Low Income Units,...,Moderate Income Units,Middle Income Units,Other Income Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,Senior Units,Completion Year,Duracion del proyecto
137,50388,TWEEMILL HOUSE HDFC,Multifamily Incentives Program,2015-06-29,2015-06-29,Yes,Non Prevailing Wage,Article XI,0,40,...,0,0,0,40,0,40,40,40,2015,0.0
138,50390,St Barnabas Housing For The Elderly,Multifamily Incentives Program,2014-06-24,2014-06-24,Yes,Non Prevailing Wage,Article XI,0,0,...,0,0,1,91,0,91,91,91,2014,0.0
235,52182,DANIEL GILMARTIN HDFC,Multifamily Incentives Program,2014-06-27,2014-06-27,Yes,Non Prevailing Wage,Article XI,0,151,...,0,0,0,151,0,151,151,150,2014,0.0
246,52319,Chinatown Planning Council HDFC,Multifamily Incentives Program,2014-06-30,2014-06-30,Yes,Non Prevailing Wage,Article XI,0,155,...,0,0,0,155,0,155,155,155,2014,0.0
377,53553,Pio Mendez / VIP,Multifamily Incentives Program,2014-12-30,2014-12-30,Yes,Non Prevailing Wage,Article XI,0,182,...,0,0,0,182,0,182,182,182,2014,0.0
511,55343,ACRMD LUBIN,Multifamily Incentives Program,2015-04-23,2015-04-23,Yes,Non Prevailing Wage,Article XI,0,25,...,0,0,0,25,0,25,25,25,2015,0.0
874,59382,AHI EZER APARTMENTS,Multifamily Incentives Program,2017-06-05,2017-06-05,Yes,Non Prevailing Wage,Article XI,0,0,...,0,0,1,74,0,74,74,22,2017,0.0
957,60426,MONTAUK HOUSING LLC.HUDMF.FY18,Multifamily Finance Program,2017-11-01,2017-11-01,Yes,Non Prevailing Wage,Article XI,128,0,...,0,0,1,129,0,129,129,128,2017,0.0
983,60761,Marseilles Apartments,Multifamily Finance Program,2016-02-25,2016-02-25,No,Non Prevailing Wage,NaN,0,134,...,0,0,1,135,0,135,135,134,2016,0.0
1271,64157,E.M. MOORE HOUSING FOR THE ELDERLY,Multifamily Incentives Program,2017-10-04,2017-10-04,Yes,Non Prevailing Wage,Article XI,0,0,...,0,0,1,89,0,89,89,88,2017,0.0
1321,64768,WATERSIDE PLAZA.HPO.FY20,Multifamily Finance Program,2019-10-25,2019-10-25,Yes,Non Prevailing Wage,UDAAP,4,0,...,103,220,0,329,0,329,1471,40,2019,0.0
1471,65349,BPR HDFC.HPO.FY19,Multifamily Finance Program,2019-06-28,2019-06-28,Yes,Non Prevailing Wage,Article XI,0,13,...,0,0,1,31,0,31,31,1,2019,0.0
1542,65856,WYATT TEE WALKER HOUSING FOR THE ELDERLY,Multifamily Incentives Program,2017-11-08,2017-11-08,Yes,Non Prevailing Wage,Article XI,0,24,...,0,0,1,80,0,80,80,79,2017,0.0
1596,66556,BEREAN HDFC.HUDMF.FY18,Multifamily Finance Program,2018-06-25,2018-06-25,Yes,Non Prevailing Wage,Article XI,67,8,...,0,0,1,77,0,77,77,77,2018,0.0
1599,66564,1314 SENECA HDFC.HPO.FY18,Multifamily Finance Program,2018-06-20,2018-06-20,Yes,Non Prevailing Wage,Article XI,2,3,...,12,0,1,60,0,60,60,13,2018,0.0
1860,67687,WEST FARMS PRESERVATION HDFC.HPO.FY19,Multifamily Finance Program,2018-12-20,2018-12-20,Yes,Non Prevailing Wage,Article XI,0,1,...,37,0,2,343,0,343,343,94,2018,0.0
1868,67730,HP HENRY HUDSON HDFC.HPO.FY19 (3420 HENRY HUDS...,Multifamily Finance Program,2019-03-27,2019-03-27,Yes,Non Prevailing Wage,Article XI,0,8,...,41,0,1,73,0,73,108,12,2019,0.0
2012,68177,CAPITOL APARTMENTS HDFC.HUDMF,Multifamily Finance Program,2019-06-28,2019-06-28,Yes,Non Prevailing Wage,Article XI,239,6,...,3,27,1,278,0,278,278,249,2019,0.0
2034,68267,SUNSET GARDENS HDFC.HUDMF,Multifamily Finance Program,2019-12-11,2019-12-11,Yes,Non Prevailing Wage,NaN,80,1,...,0,0,0,81,0,81,81,80,2019,0.0
2035,68268,HARBOR HILL HDFC,Multifamily Finance Program,2019-11-26,2019-11-26,Yes,Non Prevailing Wage,NaN,85,1,...,0,0,1,87,0,87,87,86,2019,0.0
2110,68526,PLAZA APARTMENTS,Multifamily Finance Program,2019-12-09,2019-12-09,Yes,Non Prevailing Wage,Article XI,58,8,...,3,0,1,76,0,76,76,16,2019,0.0
2251,68866,MAXWELL DEVELOPMENT LP.YR15.FY21,Multifamily Finance Program,2020-12-31,2020-12-31,Yes,Non Prevailing Wage,420c,52,125,...,1,0,5,200,0,200,200,21,2020,0.0
2253,68891,LITTLE ITALY RESTORATION APARTMENTS (L.I.R.A.),Multifamily Finance Program,2021-11-19,2021-11-19,Yes,Non Prevailing Wage,Article XI,128,11,...,2,0,3,152,0,152,152,10,2021,0.0
2360,69285,3800 PUTNAM AVENUE GARDENS HDFC.HPO.FY21,Multifamily Finance Program,2021-06-23,2021-06-23,Yes,Non Prevailing Wage,Article XI,0,0,...,0,0,0,44,0,44,44,1,2021,0.0
2363,69291,1700 HARRISON LLC.YR15.FY23,Multifamily Finance Program,2022-12-14,2022-12-14,No,Non Prevailing Wage,Article XI,0,45,...,0,0,1,79,0,79,79,6,2022,0.0
2436,69422,1730 HARRISON LLC.YR15.FY23,Multifamily Finance Program,2022-12-14,2022-12-14,No,Non Prevailing Wage,Article XI,0,54,...,0,0,1,77,0,77,77,2,2022,0.0
2439,69473,MANHATTAN AVE HDFC,Multifamily Finance Program,2021-05-10,2021-05-10,Yes,Non Prevailing Wage,Article XI,65,5,...,0,0,1,81,0,81,81,17,2021,0.0
2440,69479,SCHEUER HOUSE OF MANHATTAN BEACH,Multifamily Finance Program,2021-11-18,2021-11-18,No,Non Prevailing Wage,Article XI,144,2,...,1,0,1,150,0,150,150,26,2021,0.0
2607,70023,ALBANY KINGSTON HDFC,Multifamily Finance Program,2020-10-21,2020-10-21,Yes,Non Prevailing Wage,NaN,150,38,...,0,0,3,224,0,224,224,1,2020,0.0
2622,70054,1305 MORRIS AVENUE HDFC.YR15.FY23,Multifamily Finance Program,2022-12-22,2022-12-22,Yes,Non Prevailing Wage,420c,45,1,...,10,0,0,74,0,74,74,28,2022,0.0
2635,70165,BROOK AND BROWN HDFC,Multifamily Finance Program,2020-12-31,2020-12-31,No,Non Prevailing Wage,NaN,80,10,...,0,0,1,95,0,95,95,21,2020,0.0
2638,70188,CLAY AVENUE CLUSTER L.P.YR15.FY21,Multifamily Finance Program,2021-06-17,2021-06-17,Yes,Non Prevailing Wage,420c,6,52,...,1,0,2,86,0,86,86,3,2021,0.0
2759,70648,3300 PALMER AVE.HPO.FY23,Multifamily Finance Program,2022-09-29,2022-09-29,No,Non Prevailing Wage,Article XI,0,0,...,74,14,1,135,0,135,135,20,2022,0.0
2956,71208,TARGET V,Multifamily Finance Program,2021-11-19,2021-11-19,No,Non Prevailing Wage,420c,63,11,...,0,0,1,83,0,83,83,17,2021,0.0
3006,71471,HP BRIARWOOD HDFC.HPO.FY23,Multifamily Finance Program,2022-12-23,2022-12-23,Yes,Non Prevailing Wage,Article XI,1,40,...,157,7,0,382,0,382,382,6,2022,0.0
3149,71949,772 E 168TH STREET.YR15.FY23,Multifamily Finance Program,2022-12-16,2022-12-16,Yes,Non Prevailing Wage,420c,53,6,...,0,0,1,60,0,60,60,5,2022,0.0

In [28]:
## Get Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3633 entries, 0 to 3632
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Project ID                   3633 non-null   int64
 1   Project Name                 3633 non-null   object
 2   Program Group                3633 non-null   object
 3   Project Start Date           3633 non-null   object
 4   Project Completion Date      2637 non-null   object
 5   Extended Affordability Only  3633 non-null   object
 6   Prevailing Wage Status       3633 non-null   object
 7   Planned Tax Benefit          2204 non-null   object
 8   Extremely Low Income Units   3633 non-null   int64
 9   Very Low Income Units        3633 non-null   int64
 10  Low Income Units             3633 non-null   int64
 11  Moderate Income Units        3633 non-null   int64
 12  Middle Income Units          3633 non-null   int64
 13  Other Income Units           3633 non-null   int64
 14  Counted Rental Units         3633 non-null   int64
 15  Counted Homeownership Units  3633 non-null   int64
 16  All Counted Units            3633 non-null   int64
 17  Total Units                  3633 non-null   int64
 18  Senior Units                 3633 non-null   int64
dtypes: int64(12), object(7)
memory usage: 539.4+ KB

In [29]:
df.shape

(3633, 19)

In [30]:
## Count the name of the program ( i'm gonna check the elegibiliy of the programs)
df["Program Group"].value_counts().to_frame()

                                Program Group
Multifamily Incentives Program           1421
Homeowner Assistance Program             1303
Multifamily Finance Program               851
Small Homes Program                        32
Other                                      26

In [31]:
## Count the name of the program ( i'm gonna check the elegibiliy of the programs)
df["Extended Affordability Only"].value_counts().to_frame()

     Extended Affordability Only
No                          3413
Yes                          220

In [32]:
df["Prevailing Wage Status"].value_counts().to_frame()

                     Prevailing Wage Status
Non Prevailing Wage                    3547
Prevailing Wage                          86

In [33]:
df["Planned Tax Benefit"].value_counts().to_frame()

               Planned Tax Benefit
421a                          1346
420c                           373
Article XI                     360
J-51 Enriched                   36
Article II                      34
J-51                            17
UDAAP                           14
420a                            12
Article V                       11
Article IV                       1

In [64]:
eliu = df2["Extremely Low Income Units"].sum()
eliu

36557

In [65]:
vliu = df2["Very Low Income Units"].sum()
vliu

64457

In [66]:
liu = df2["Low Income Units"].sum()
liu

79092

In [67]:
miu = df2["Moderate Income Units"].sum()
miu

13125

In [68]:
mdiu = df2["Middle Income Units"].sum()
mdiu

23171

In [69]:
oiu = df2["Other Income Units"].sum()
oiu

955

In [70]:
df2["Counted Rental Units"].sum()

164315

In [71]:
df2["Senior Units"].sum()

14238

In [72]:
df2["Total Units"].sum()

291084

In [73]:
##SUM of total public houses available
eliu+vliu+liu+miu+mdiu+oiu

217357

In [90]:
data = {
    'Extremely Low Income': [eliu],
    'Very Low Income': [vliu],
    'Low Income': [liu],
    'Moderate income': [miu],
    'Middle Income': [mdiu],
    'Other Income': [oiu],
    'Senior Units':[df2["Senior Units"].sum()]
    
}
data

{'Extremely Low Income': [36557],
 'Very Low Income': [64457],
 'Low Income': [79092],
 'Moderate income': [13125],
 'Middle Income': [23171],
 'Other Income': [955],
 'Senior Units': [14238]}

data.to_frame()
data

In [75]:
##Falta revisar cuÃ¡ntas unidades hay por edificio para seniors

In [42]:
##Falta revisar en quÃ© cÃ³digo postal se estÃ¡n concentrando

In [43]:
##Falta revisar cuÃ¡les son los edificios con mayor nÃºmero de unidades para senior housing