In [2]:
## Import
import pandas as pd

In [3]:
df = pd.read_csv("Affordable_Housing_Production_by_Project.csv")
df

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Extended Affordability Only,Prevailing Wage Status,Planned Tax Benefit,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,Senior Units
0,44218,MEC E. 125TH ST. PARCEL B WEST,Multifamily Finance Program,12/31/2018,02/16/2022,No,Non Prevailing Wage,Article XI,0,101,101,0,93,2,297,0,297,404,0
1,44223,ROCHESTER SUYDAM PHASE 1,Multifamily Finance Program,06/30/2021,NaN,No,Non Prevailing Wage,Article XI,0,0,0,39,7,0,0,46,46,46,0
2,44225,Brook Avenue Apartments,Multifamily Finance Program,06/27/2014,12/28/2016,No,Non Prevailing Wage,421a,0,14,51,0,0,1,66,0,66,66,0
3,44230,Mermaid / West. 16th Street,Small Homes Program,06/30/2015,07/21/2017,No,Non Prevailing Wage,UDAAP,0,0,0,16,5,0,14,7,21,21,0
4,44239,Home for Harlem Dowling,Multifamily Finance Program,06/30/2014,12/29/2016,No,Non Prevailing Wage,420c,12,0,47,0,0,1,60,0,60,60,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3628,73331,CONFIDENTIAL,Homeowner Assistance Program,11/30/2022,NaN,No,Non Prevailing Wage,NaN,0,0,1,0,0,0,0,1,1,1,1
3629,73333,CONFIDENTIAL,Homeowner Assistance Program,11/29/2022,NaN,No,Non Prevailing Wage,NaN,0,0,0,2,0,0,0,2,2,2,0
3630,73334,KENT VILLAGE,Multifamily Finance Program,12/19/2022,NaN,No,Non Prevailing Wage,NaN,0,498,34,0,0,2,531,3,534,534,0
3631,73336,CONFIDENTIAL,Homeowner Assistance Program,12/27/2022,NaN,No,Non Prevailing Wage,NaN,2,0,0,0,0,0,0,2,2,2,0
3632,73337,CONFIDENTIAL,Homeowner Assistance Program,12/28/2022,NaN,No,Non Prevailing Wage,NaN,0,1,0,0,0,0,0,1,1,1,0

In [4]:
## Get Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3633 entries, 0 to 3632
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Project ID                   3633 non-null   int64
 1   Project Name                 3633 non-null   object
 2   Program Group                3633 non-null   object
 3   Project Start Date           3633 non-null   object
 4   Project Completion Date      2637 non-null   object
 5   Extended Affordability Only  3633 non-null   object
 6   Prevailing Wage Status       3633 non-null   object
 7   Planned Tax Benefit          2204 non-null   object
 8   Extremely Low Income Units   3633 non-null   int64
 9   Very Low Income Units        3633 non-null   int64
 10  Low Income Units             3633 non-null   int64
 11  Moderate Income Units        3633 non-null   int64
 12  Middle Income Units          3633 non-null   int64
 13  Other Income Units           3633 non-null   int64
 14  Counted Rental Units         3633 non-null   int64
 15  Counted Homeownership Units  3633 non-null   int64
 16  All Counted Units            3633 non-null   int64
 17  Total Units                  3633 non-null   int64
 18  Senior Units                 3633 non-null   int64
dtypes: int64(12), object(7)
memory usage: 539.4+ KB

In [5]:
df.shape

(3633, 19)

In [6]:
## Count the name of the program ( i'm gonna check the elegibiliy of the programs)
df["Program Group"].value_counts().to_frame()

                                Program Group
Multifamily Incentives Program           1421
Homeowner Assistance Program             1303
Multifamily Finance Program               851
Small Homes Program                        32
Other                                      26

In [7]:
## Count the name of the program ( i'm gonna check the elegibiliy of the programs)
df["Extended Affordability Only"].value_counts().to_frame()

     Extended Affordability Only
No                          3413
Yes                          220

In [8]:
df["Prevailing Wage Status"].value_counts().to_frame()

                     Prevailing Wage Status
Non Prevailing Wage                    3547
Prevailing Wage                          86

In [9]:
df["Planned Tax Benefit"].value_counts().to_frame()

               Planned Tax Benefit
421a                          1346
420c                           373
Article XI                     360
J-51 Enriched                   36
Article II                      34
J-51                            17
UDAAP                           14
420a                            12
Article V                       11
Article IV                       1

In [10]:
df["Extremely Low Income Units"].nunique()

180

In [11]:

df["Very Low Income Units"].nunique()

169

In [12]:
df["Low Income Units"].nunique()

225

In [13]:
df["Moderate Income Units"].nunique()

100

In [14]:
df["Middle Income Units"].nunique()

101

In [15]:
df["Other Income Units"].nunique()

12

In [16]:
df["Counted Rental Units"].nunique()

344

In [17]:
df["Senior Units"].nunique()

117

In [18]:
df["Senior Units"].nunique()

117